.list-group {
    background-color: white;
    margin: 22px;
    padding: 24px;
}

.d-flex.w-100.justify-content-between {
    margin: 22px;
    padding: 24px;
}

.btn.btn-secondary {
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 10px;
    float: right;
    margin-right: 11px;
    border-radius: 0.5rem;
}

.mb-1 {
    margin-bottom: 2.25rem !important
}