<div class="backgroundcolor">
  <app-top-menu></app-top-menu>
  <router-outlet></router-outlet>
  <footer class="footer">


    <div class="container-fluid text-center text-md-left">


      <div class="row">


        <div class="col-md-6 mt-md-0 mt-3">

          <hr class="line1">

          <h5 class="text-uppercase font-weight-bold">Info</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis perferendis pariatur laboriosam culpa,
            deserunt neque reiciendis ratione iste, eius deleniti dicta. Necessitatibus, inventore. Atque sunt et, alias
            ut veritatis tempore!.</p>

        </div>


        <hr class="clearfix w-100 d-md-none pb-3">


        <div class="col-md-3 mb-md-0 mb-3">


          <hr class="line1">
          <h5 class="text-uppercase font-weight-bold">Kontakt</h5>

          <ul class="list-unstyled">
            <li>
              <a><span class="material-icons mr-1">
                  home
                </span>Katowice, PL</a>
            </li>
            <li>
              <span class="material-icons">
                alternate_email
              </span> <a href="mailto:email@gmail.com">blog@test.pl</a>
            </li>
            <li>
              <a> <span class="material-icons">
                  call
                </span>+48 678 678 678</a>
            </li>
            <li>
              <a> <span class="material-icons">
                  call
                </span> +48 654 654 654</a>
            </li>
          </ul>

        </div>
        <div class="col-md-3 mb-md-0 mb-3">


          <hr class="line1">
          <h5 class="text-uppercase font-weight-bold">Social Media</h5>

          <div class="list-unstyled footer-icon">
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>

        </div>


      </div>


    </div>
    <div class="footer-copyright text-center py-3">&copy; 2020 Izabela Sepioł
    </div>


  </footer>
</div>